In [2]:
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import statistics
from math import sqrt
from scipy.stats import bootstrap

# Load data

In [3]:
df = pd.read_csv('../data/final/final.csv')
df.shape

(4464, 71)

In [4]:
df['any_issue'] = df['invalid_sex'] | df['invalid_age'] | df['failed_control']

In [5]:
df.head()

,ID,Время создания,Время изменения,Ваш пол,Сколько вам лет?,"Укажите тип населённого пункта, в котором вы проживаете.",Источник ответов,Кого бы вы НЕ хотели видеть своим соседом? / Наркозависимого,Кого бы вы НЕ хотели видеть своим соседом? / Человека другой расы,Кого бы вы НЕ хотели видеть своим соседом? / Гомосексуала,...,Q188: Justifiable: Euthanasia,Q193: Justifiable: Having casual sex,source,Q260: Sex,Q262: Age,source_age,source_sex,self_reported_age,self_reported_sex,any_issue
0,1.090644e+09,2022-02-09 21:37:05,2022-02-09 21:37:05,Женский,более 50,средний город (50-100 тыс. жителей),female_50,NaN,NaN,NaN,...,1.0,3.0,ours,NaN,NaN,50+,female,50+,female,False
1,1.090638e+09,2022-02-09 21:30:53,2022-02-09 21:30:53,Женский,более 50,средний город (50-100 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,5.0,5.0,ours,NaN,NaN,50+,female,50+,female,True
2,1.090637e+09,2022-02-09 21:29:54,2022-02-09 21:29:54,Женский,более 50,крупный город (свыше 500 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,1.0,3.0,ours,NaN,NaN,50+,female,50+,female,False
3,1.090636e+09,2022-02-09 21:29:15,2022-02-09 21:29:15,Женский,более 50,посёлок городского типа,female_50,Наркозависимого,NaN,NaN,...,1.0,1.0,ours,NaN,NaN,50+,female,50+,female,True
4,1.090634e+09,2022-02-09 21:27:28,2022-02-09 21:27:28,Женский,более 50,средний город (50-100 тыс. жителей),female_50,Наркозависимого,NaN,Гомосексуала,...,3.0,2.0,ours,NaN,NaN,50+,female,50+,female,True

# Table: Samples comparison

In [6]:
df['ID'] = list(range(len(df)))
df.head()

,ID,Время создания,Время изменения,Ваш пол,Сколько вам лет?,"Укажите тип населённого пункта, в котором вы проживаете.",Источник ответов,Кого бы вы НЕ хотели видеть своим соседом? / Наркозависимого,Кого бы вы НЕ хотели видеть своим соседом? / Человека другой расы,Кого бы вы НЕ хотели видеть своим соседом? / Гомосексуала,...,Q188: Justifiable: Euthanasia,Q193: Justifiable: Having casual sex,source,Q260: Sex,Q262: Age,source_age,source_sex,self_reported_age,self_reported_sex,any_issue
0,0,2022-02-09 21:37:05,2022-02-09 21:37:05,Женский,более 50,средний город (50-100 тыс. жителей),female_50,NaN,NaN,NaN,...,1.0,3.0,ours,NaN,NaN,50+,female,50+,female,False
1,1,2022-02-09 21:30:53,2022-02-09 21:30:53,Женский,более 50,средний город (50-100 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,5.0,5.0,ours,NaN,NaN,50+,female,50+,female,True
2,2,2022-02-09 21:29:54,2022-02-09 21:29:54,Женский,более 50,крупный город (свыше 500 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,1.0,3.0,ours,NaN,NaN,50+,female,50+,female,False
3,3,2022-02-09 21:29:15,2022-02-09 21:29:15,Женский,более 50,посёлок городского типа,female_50,Наркозависимого,NaN,NaN,...,1.0,1.0,ours,NaN,NaN,50+,female,50+,female,True
4,4,2022-02-09 21:27:28,2022-02-09 21:27:28,Женский,более 50,средний город (50-100 тыс. жителей),female_50,Наркозависимого,NaN,Гомосексуала,...,3.0,2.0,ours,NaN,NaN,50+,female,50+,female,True

In [7]:
def make_pivot_df(df, col):
    df_copy = df.copy()
    df_copy['ID'] = list(range(len(df_copy)))
    df_copy = df_copy.set_index(['ID', 'source'])
    df_copy['person_ID'] = list(range(len(df_copy)))

    df_pivot = pd.pivot_table(df_copy, 
                              index='source',
                              values='person_ID',
                              columns=col,
                              aggfunc=pd.Series.nunique)
    return df_pivot

In [8]:
demographic_columns = [
   'source_age', 'source_sex',
]

df_demographic = pd.pivot_table(
    df, 
    index='source',
    values='ID',
    columns=demographic_columns,
    aggfunc=pd.Series.nunique,
)
df_demographic

source_age              29       30-49         50+
source_sex          female male female male female male
source
ours                   352  294    471  471    634  432
world_values_survey    194  191    390  308    480  247

In [9]:
df_demographic_post_qc = pd.pivot_table(
    df[(df.source == 'world_values_survey') | (df.failed_control == False)], 
    index='source',
    values='ID',
    columns=demographic_columns,
    aggfunc=pd.Series.nunique,
)
df_demographic_post_qc

source_age              29       30-49         50+
source_sex          female male female male female male
source
ours                   238  213    352  368    439  347
world_values_survey    194  191    390  308    480  247

In [10]:
# df_demographic_post_qc = pd.pivot_table(
#     df[(df.any_issue == False)], 
#     index='source',
#     values='ID',
#     columns=demographic_columns,
#     aggfunc=pd.Series.nunique,
# )
# df_demographic_post_qc

In [11]:
print(df_demographic.to_latex())

\begin{tabular}{lrrrrrr}
\toprule
source\_age & \multicolumn{2}{l}{29} & \multicolumn{2}{l}{30-49} & \multicolumn{2}{l}{50+} \\
source\_sex & female & male & female & male & female & male \\
source              &        &      &        &      &        &      \\
\midrule
ours                &    352 &  294 &    471 &  471 &    634 &  432 \\
world\_values\_survey &    194 &  191 &    390 &  308 &    480 &  247 \\
\bottomrule
\end{tabular}

/var/folders/bt/g8bj53xj0tvbvs3wn8hkx2c5g9x1f4/T/ipykernel_57274/3893231513.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_demographic.to_latex())

In [12]:
df_demographic.reset_index()[df_demographic.reset_index().source == 'ours'].T.values[1:].sum()

2654

In [13]:
df_demographic.reset_index()[df_demographic.reset_index().source != 'ours'].T.values[1:].sum()

1810

In [14]:
print(df_demographic_post_qc.to_latex())

\begin{tabular}{lrrrrrr}
\toprule
source\_age & \multicolumn{2}{l}{29} & \multicolumn{2}{l}{30-49} & \multicolumn{2}{l}{50+} \\
source\_sex & female & male & female & male & female & male \\
source              &        &      &        &      &        &      \\
\midrule
ours                &    238 &  213 &    352 &  368 &    439 &  347 \\
world\_values\_survey &    194 &  191 &    390 &  308 &    480 &  247 \\
\bottomrule
\end{tabular}

/var/folders/bt/g8bj53xj0tvbvs3wn8hkx2c5g9x1f4/T/ipykernel_57274/2322870061.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_demographic_post_qc.to_latex())

In [15]:
df_demographic_post_qc.reset_index()[df_demographic_post_qc.reset_index().source == 'ours'].T.values[1:].sum()

1957

# Self-reported demographics vs toloka-provided demographics

In [16]:
df_demographic_post_qc

source_age              29       30-49         50+
source_sex          female male female male female male
source
ours                   238  213    352  368    439  347
world_values_survey    194  191    390  308    480  247

In [17]:
# Self-reported age/sex
df_self_reported = pd.pivot_table(
    df[(df.source == 'world_values_survey') | (df.failed_control == False)],
    index='source',
    values='ID',
    columns=['self_reported_age', 'self_reported_sex'],
    aggfunc=pd.Series.nunique,
)
df_self_reported

self_reported_age       29       30-49         50+
self_reported_sex   female male female male female male
source
ours                   205  182    389  422    417  342
world_values_survey    194  191    390  308    480  247

In [18]:
df_self_reported.reset_index()[df_self_reported.reset_index().source == 'ours'].T.values[1:].sum()

1957

In [19]:
print(df_self_reported.to_latex())

\begin{tabular}{lrrrrrr}
\toprule
self\_reported\_age & \multicolumn{2}{l}{29} & \multicolumn{2}{l}{30-49} & \multicolumn{2}{l}{50+} \\
self\_reported\_sex & female & male & female & male & female & male \\
source              &        &      &        &      &        &      \\
\midrule
ours                &    205 &  182 &    389 &  422 &    417 &  342 \\
world\_values\_survey &    194 &  191 &    390 &  308 &    480 &  247 \\
\bottomrule
\end{tabular}

/var/folders/bt/g8bj53xj0tvbvs3wn8hkx2c5g9x1f4/T/ipykernel_57274/3598230467.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_self_reported.to_latex())

# Figure: all differences atlas

In [85]:
df_clean = df[(pd.isnull(df.failed_control))|(df.failed_control == False)]
print(df.shape, df_clean.shape)
df_clean.head()

(4464, 72) (3767, 72)

,ID,Время создания,Время изменения,Ваш пол,Сколько вам лет?,"Укажите тип населённого пункта, в котором вы проживаете.",Источник ответов,Кого бы вы НЕ хотели видеть своим соседом? / Наркозависимого,Кого бы вы НЕ хотели видеть своим соседом? / Человека другой расы,Кого бы вы НЕ хотели видеть своим соседом? / Гомосексуала,...,Q188: Justifiable: Euthanasia,Q193: Justifiable: Having casual sex,source,Q260: Sex,Q262: Age,source_age,source_sex,self_reported_age,self_reported_sex,any_issue
0,0,2022-02-09 21:37:05,2022-02-09 21:37:05,Женский,более 50,средний город (50-100 тыс. жителей),female_50,NaN,NaN,NaN,...,1.0,3.0,ours,NaN,NaN,50+,female,50+,female,False
2,2,2022-02-09 21:29:54,2022-02-09 21:29:54,Женский,более 50,крупный город (свыше 500 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,1.0,3.0,ours,NaN,NaN,50+,female,50+,female,False
7,7,2022-02-09 21:25:52,2022-02-09 21:25:52,Женский,более 50,крупный город (свыше 500 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,8.0,8.0,ours,NaN,NaN,50+,female,50+,female,False
9,9,2022-02-09 21:25:00,2022-02-09 21:25:00,Женский,более 50,крупный город (свыше 500 тыс. жителей),female_50,Наркозависимого,NaN,NaN,...,6.0,6.0,ours,NaN,NaN,50+,female,50+,female,False
10,10,2022-02-09 21:24:18,2022-02-09 21:24:18,Женский,более 50,малый город (до 50 тыс. жителей),female_50,NaN,NaN,NaN,...,5.0,2.0,ours,NaN,NaN,50+,female,50+,female,False

## Util functions

In [86]:
def plot_confidence_interval(x, values,  label=None, color='#2187bb', horizontal_line_width=0.25, ax = None):
    mean = np.mean(values)
    confidence_interval = bootstrap((values,), np.mean, confidence_level=0.95).confidence_interval
    
    top = confidence_interval.low
    bottom = confidence_interval.high
    left = x - horizontal_line_width / 2
    right = x + horizontal_line_width / 2
    
    ax = ax or plt.gca()
    
    ax.plot([x, x], [top, bottom], color=color, label=label)
    ax.plot([left, right], [top, top], color=color)
    ax.plot([left, right], [bottom, bottom], color=color)
    ax.plot(x, mean, 'o', color='#f44336')

    return mean, confidence_interval

def assign_color(source):
    if source == 'ours':
        return 'green'
    else:
        return 'blue'

# plt.xticks([1, 2, 3, 4], ['FF', 'BF', 'FFD', 'BFD'])
# plt.title('Confidence Interval')
# plot_confidence_interval(1, [10, 11, 42, 45, 44])
# plot_confidence_interval(2, [10, 21, 42, 45, 44])
# plot_confidence_interval(3, [20, 2, 4, 45, 44])
# plot_confidence_interval(4, [30, 31, 42, 45, 44])
# plt.show()

## Draw figure

In [87]:
question_cols = [
    'Q18: Neighbors: Drug addicts',
       'Q19: Neighbors: People of a different race',
       'Q21: Neighbors: Immigrants/foreign workers',
       'Q22: Neighbors: Homosexuals',
       'Q23: Neighbors: People of a different religion',
       'Q29: Men make better political leaders than women do',
       'Q36: Homosexual couples are as good parents as other couples',
       'Q69: Confidence: The Police',
       'Q71: Confidence: The Government', 
       'Q80: Confidence: The Women´s Movement',
       'Q130: Immigration policy preference',
       'Q182: Justifiable: Homosexuality', 
       'Q183: Justifiable: Prostitution',
       'Q184: Justifiable: Abortion',
       'Q187: Justifiable: Suicide',
       'Q186: Justifiable: Sex before marriage', 
       'Q188: Justifiable: Euthanasia', 
       'Q189: Justifiable: For a man to beat his wife',
       'Q190: Justifiable: Parents beating children',
       'Q193: Justifiable: Having casual sex',
       'Q212: Political action: Joining unofficial strikes',
       'Q227: How often in country´s elections: Voters are bribed',
    
]

In [ ]:
fig = plt.figure(figsize=(20, 30))
fig.tight_layout()
suptitle = fig.suptitle(' ')

ncols = 3
subfigs = fig.subfigures(nrows=round(len(question_cols)/ncols), ncols=ncols)
for row, row_subfigs in enumerate(subfigs):
    for col, subfig in enumerate(row_subfigs):
        if row*len(row_subfigs)+col >= len(question_cols):
            break
        col = question_cols[row*len(row_subfigs)+col]
        subfig.suptitle(f'{col}')
        
        
        w_margin = 0.05
        subfig.subplots_adjust(top=0.85, wspace=0.05, left=w_margin, right=1-w_margin)
        
        if row == 0:
            subfig.subplots_adjust(top=None)
            
        axs = subfig.subplots(nrows=1, ncols=2, sharey=True)
        #counter = 0
        for i, sex in enumerate(['male', 'female']):
            #ax = axs[counter]
            ax = axs[i]
            #counter += 1
            ticks = []
            for j, age in enumerate(['29', '30-49', '50+']):
                for k, source in enumerate(['ours', 'world_values_survey']):
                    vals = df_clean[(df_clean.source==source)&(df_clean.source_sex==sex)&(df_clean.source_age==age)][col].dropna()
                    plot_confidence_interval(j+k*0.25, vals, color=assign_color(source), label=source, ax=ax)
                ticks.append((j + j+k*0.25)/2)
            ax.set_xticks(ticks, ['29', '30-49', '50+'])
            ax.set_title(sex)
            ax.plot()

handles, labels = ax.get_legend_handles_labels()
handles, labels = handles[:2], labels[:2]
lgd = fig.legend(handles, labels, loc='lower center',  bbox_to_anchor=(0.5,1.005))

plt.savefig('atlas.pdf', format='pdf', bbox_extra_artists=(lgd,))
plt.show()

# Findings: overall differences

In [89]:
from scipy.stats import chi2_contingency

def make_pivot_df(df, col):
    df_copy = df.copy()
    df_copy['ID'] = list(range(len(df_copy)))
    df_copy = df_copy.set_index(['ID', 'source'])
    df_copy['person_ID'] = list(range(len(df_copy)))

    df_pivot = pd.pivot_table(df_copy, 
                              index='source',
                              values='person_ID',
                              columns=col,
                              aggfunc=pd.Series.nunique)
    return df_pivot

def chi2test(df, col, print_stuff=True):
    pivot = make_pivot_df(df, col).fillna(0)
    stat, p, dof, ex = chi2_contingency(pivot, correction=False)
    if print_stuff:
        print('stat=%.3f, p=%.3f' % (stat, p))
        if p < 0.05:
            print('Probably different distributions')
        else:
            print('Probably the same distribution')
    return p

In [90]:
significant_cols_and_pvals = []

for q in question_cols:
    if 'Q' not in q:
        continue
    #print(q)
    p = chi2test(df_clean, q, print_stuff=False)
    #if p < 0.05:
    significant_cols_and_pvals.append((q, p))
        
def to_readable_pval(pval):
    if pval < 1e-10:
        return '< 1e-10'
    return f'{round(pval, 10)}'


diffs_df = pd.DataFrame(significant_cols_and_pvals, columns=['questions', 'pval'])
    
diffs_df['significant'] = diffs_df['pval'].apply(lambda p: 'Yes' if p < 0.05 else 'No')
diffs_df['pval'] = diffs_df['pval'].apply(to_readable_pval)
diffs_df.columns = ['Question', '$\chi^2$ p-value', 'Significant']
diffs_df.head()

                                         Question $\chi^2$ p-value Significant
0                    Q18: Neighbors: Drug addicts     0.5765008408          No
1      Q19: Neighbors: People of a different race          < 1e-10         Yes
2      Q21: Neighbors: Immigrants/foreign workers          < 1e-10         Yes
3                     Q22: Neighbors: Homosexuals          < 1e-10         Yes
4  Q23: Neighbors: People of a different religion       1.5278e-06         Yes

In [91]:
pd.set_option('max_colwidth',999)
print(diffs_df.to_latex(index=False))

\begin{tabular}{lll}
\toprule
                                                    Question & \$\textbackslash chi\textasciicircum 2\$ p-value & Significant \\
\midrule
                                Q18: Neighbors: Drug addicts &     0.5765008408 &          No \\
                  Q19: Neighbors: People of a different race &          < 1e-10 &         Yes \\
                  Q21: Neighbors: Immigrants/foreign workers &          < 1e-10 &         Yes \\
                                 Q22: Neighbors: Homosexuals &          < 1e-10 &         Yes \\
              Q23: Neighbors: People of a different religion &       1.5278e-06 &         Yes \\
        Q29: Men make better political leaders than women do &          < 1e-10 &         Yes \\
Q36: Homosexual couples are as good parents as other couples &          < 1e-10 &         Yes \\
                                 Q69: Confidence: The Police &          < 1e-10 &         Yes \\
                             Q71: Confidence: The Government &          < 1e-10 &         Yes \\
                       Q80: Confidence: The Women´s Movement &          < 1e-10 &         Yes \\
                         Q130: Immigration policy preference &          < 1e-10 &         Yes \\
                            Q182: Justifiable: Homosexuality &          < 1e-10 &         Yes \\
                             Q183: Justifiable: Prostitution &          < 1e-10 &         Yes \\
                                 Q184: Justifiable: Abortion &          < 1e-10 &         Yes \\
                                  Q187: Justifiable: Suicide &          < 1e-10 &         Yes \\
                      Q186: Justifiable: Sex before marriage &          < 1e-10 &         Yes \\
                               Q188: Justifiable: Euthanasia &          < 1e-10 &         Yes \\
               Q189: Justifiable: For a man to beat his wife &          < 1e-10 &         Yes \\
                 Q190: Justifiable: Parents beating children &          < 1e-10 &         Yes \\
                        Q193: Justifiable: Having casual sex &          < 1e-10 &         Yes \\
          Q212: Political action: Joining unofficial strikes &          < 1e-10 &         Yes \\
   Q227: How often in country´s elections: Voters are bribed &          < 1e-10 &         Yes \\
\bottomrule
\end{tabular}

/var/folders/bt/g8bj53xj0tvbvs3wn8hkx2c5g9x1f4/T/ipykernel_57274/152007414.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(diffs_df.to_latex(index=False))